.article {
  // padding: 0 15%;

  // border: var(--border-black);
  // border-radius: var(--br);
  // box-shadow: var(--box-shadow-sm);

  // border-top: var(--border-black);
  // border-bottom: var(--border-black);

  &Title {
    // text-align: center;
  }

  &Info {
    margin-top: 30px;
    color: var(--text-color-gray);

    // text-align: center;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &Img {
    margin-top: 50px;
    padding-bottom: 50%;
  }

  &Category {
    color: var(--purple-color);
  }

  &Content {
    // padding: 0 15%;

    margin-top: 50px;

    font-size: 20px;

    strong {
      font-weight: bold;
    }

    em {
      font-style: italic;
    }

    a {
      color: var(--purple-color);

      &:hover {
        text-decoration: underline;
      }
    }

    h2 {
      font-size: 40px;
      padding: 20px 0 10px;
      font-weight: bold;
    }

    h3 {
      font-size: 28px;
      padding: 20px 0 10px;
      font-weight: bold;
    }

    p {
      padding: 10px 0;
      line-height: 1.2;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }

    img {
      border: var(--border-black);
      border-radius: var(--br);
      box-shadow: var(--box-shadow-sm);
      margin: 30px 0;

      // width: 100%;
      // height: 100%;
      // object-fit: cover;
    }

    blockquote {
      line-height: 1.2;
      border-radius: var(--br);
      border: var(--border-black);
      background-image: linear-gradient(var(--gray-med-color) 1px, transparent 1px), linear-gradient(to right, var(--gray-med-color) 1px, transparent 1px);
      box-shadow: var(--box-shadow-sm);
      background-size: 30px 30px;
      background-color: var(--gray-color);

      padding: 30px;
      margin: 40px 0;
    }

    ul, ol {
      margin: 30px 0;

      padding-left: 40px;

      li {
        padding: 10px 0;
      }
    }

    ul {
      list-style-type: square;
    }

    ol {
      list-style: decimal;
    }
  }
}

@media (max-width: 768px) {
  .article {

    &Title {
      font-size: 40px;
    }

    &Img {
      margin-top: 30px;
      padding-bottom: 50%;
    }

    &Content {
      margin-top: 30px;
      font-size: 18px;

      strong {
        font-weight: bold;
      }

      h2 {
        font-size: 35px;
        padding: 15px 0 5px;
      }

      h3 {
        font-size: 25px;
        padding: 15px 0 5px;
      }

      p {
        padding: 8px 0;
      }

      img {
        margin: 20px 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      blockquote {
        margin: 20px 0;
      }

      ul, ol {
        margin: 20px 0;
      }
    }
  }
}

@media (max-width: 576px) {
  .article {

    &Title {
      font-size: 28px;
    }

    &Info {
      margin-top: 15px;
      font-size: 14px;
    }

    &Img {
      margin-top: 20px;
      padding-bottom: 65%;
    }

    &Content {
      margin-top: 30px;
      font-size: 15px;

      h2 {
        font-size: 22px;
      }

      h3 {
        font-size: 18px;
        padding: 20px 0 0px;
      }

      a {
        &:hover {
          text-decoration: none;
        }
      }

      p {
        padding: 8px 0;
      }

      img {
        margin: 20px 0;
      }

      blockquote {
        margin: 8px 0;
        padding: 20px 15px;
      }

      ul, ol {
        margin: 7px 0;

        li {
          padding: 8px 0;
        }
      }
    }
  }
}
