.title {
  position: relative;
  display: inline-block;

  &Small {
    font-size: 22px;
  }

  &Medium {
    font-size: 54px;
  }

  &Purple {
    color: var(--purple-color);
  }
}

@media (max-width: 576px) {
  .title {
    &Small {
      font-size: 20px;
    }

    &Medium {
      font-size: 35px;
    }
  }
}

