.button {
  border: 2px solid var(--black-color);
  border-radius: var(--br-small);
  box-shadow: var(--box-shadow-sm);
  padding: 15px 35px;
  font-size: var(--fz-15);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--black-color);

  &:disabled {
    pointer-events: none;
    opacity: .8;
    box-shadow: var(--box-shadow-sm-hover);
  }

  svg {
    height: 18px;
    width: 18px;
    margin-right: 8px;
    margin-left: -4px;

  }

  &Tool {
    box-shadow: var(--box-shadow-xsm);
    padding: 10px;

    color: var(--black-color);
    &:hover {
      transform: translate(1px, 1px);
      box-shadow: var(--box-shadow-xsm-hover);
    }

    svg {
      margin: 0;
    }
  }

  &Blue {
    background-color: var(--blue-color);
  }

  &Green {
    background-color: var(--green-color);
  }

  &Gray {
    background-color: var(--gray-color);
  }

  &:hover {
    transform: translate(2px, 2px);
    box-shadow: var(--box-shadow-sm-hover);
  }
}

@media (max-width: 576px) {
  .button {
    &:hover {
      box-shadow: var(--box-shadow-sm);
      transform: translate(0, 0);
    }
  }
}

