@import '@/styles/animation.scss';

.logo {
  -webkit-user-select: none; /* Для WebKit браузеров (Chrome, Safari, Opera) */
  -moz-user-select: none; /* Для Mozilla Firefox */
  -ms-user-select: none; /* Для Internet Explorer */
  user-select: none; /* Стандартное свойство */


  &Name {
    text-transform: uppercase;

    display: block;
    width: fit-content;
    letter-spacing: 4px;
    font-weight: bold;
    span {
      animation: flash 2.2s infinite;
      color: var(--purple-color);
    }
  }

  &Descriptor {
    color: var(--text-color-gray);
    font-size: .76rem;
    letter-spacing: 1px;
  }
}
