.layout {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  // overflow-x: hidden;

  background-color: var(--background-color);

  &HeaderUnderline {
    border-bottom: var(--border-gray);
  }

  &Main {
    overflow-x: hidden;
  }

  &Fixed {
    position: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  &DarkTheme {
    --background-color: #1c1c1a;
    --overlay-color: rgba(23, 21, 21, 0.92);
    --black-color: rgba(210, 206, 198, 0.92);
    --green-color: #2f7e2d;
    --blue-color: #1f82a6;
    --gray-color: #2a2729;
    --gray-med-color: #3b373a;
    --purple-color: #7765bd;
    --white-color: #3a3934;
    --text-color-gray: #a09c9f;
    --text-color-dark: #8c8c8c;
    --text-color-medium: #cbc6ba;
    --green-color2: #70c272;
    --pink-color: #ed0265;
    --red-color: #ec2e1a;

    --box-shadow-xsm: 2px 2px 0px 0px var(--black-color);
    --box-shadow-xsm-hover: 1px 1px 0px 0px var(--black-color);

    --box-shadow-sm: 3px 3px 0px 0px var(--black-color);
    --box-shadow-sm-hover: 1px 1px 0px 0px var(--black-color);

    --border-black: 2px solid var(--black-color);
  }

  &LightTheme {
    --background-color: #efe9db;
    --overlay-color: rgba(108, 106, 102, 0.92);
    --black-color: #414042;
    --green-color: #85e17e;
    --blue-color: #82c0d5;
    --gray-color: #ddd8cc;
    --gray-med-color: #c7c3b8;
    --purple-color: #5f3bc2;
    --white-color: #ffffff;
    --text-color-gray: #7b7583;
    --text-color-dark: #3b3347;
    --text-color-medium: #7b7583;
    --green-color2: #3c9336;
    --pink-color: #ed0265;
    --red-color: #ff9186;

    --box-shadow-xsm: 2px 2px 0px 0px var(--black-color);
    --box-shadow-xsm-hover: 1px 1px 0px 0px var(--black-color);

    --box-shadow-sm: 3px 3px 0px 0px var(--black-color);
    --box-shadow-sm-hover: 1px 1px 0px 0px var(--black-color);
    --border-black: 2px solid var(--black-color);

    --border-gray: 2px solid var(--gray-color);
  }
}


