.pageDescriptor {
  margin-top: 30px;
  padding: 30px;
  font-size: 23px;
  line-height: 1.2;

  a {
    color: var(--purple-color);
    &:hover {
      text-decoration: underline;
    };
  }
}

@media (max-width: 576px) {
  .pageDescriptor {
    font-size: 16px;
    padding: 20px;
  }
}

