@font-face {
  font-family: 'Monocraft';
  src: url('/fonts/Monocraft.eot');
  src: local('Monocraft'), local('Monocraft'),
  url('/Monocraft.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Monocraft.otf') format('woff'),
  url('/fonts/Monocraft.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --max-width: 1200px;
  --br-small: 5px;
  --br: 10px;

  --transition: .1s all;

  --mt-10: 10px;
  --mt-15: 15px;
  --mt-20: 20px;
  --mt-25: 25px;
  --mt-30: 30px;
  --mt-35: 35px;
  --mt-40: 40px;
  --mt-45: 45px;
  --mt-50: 50px;
  --mt-55: 55px;

  --fz-14: 14px;
  --fz-15: 15px;
  --fz-16: 16px;
  --fz-18: 18px;
  --fz-30: 30px;


  // Depends of color theme
  --background-color: #efe9db;
  --overlay-color: rgba(108, 106, 102, 0.92);
  --black-color: #414042;
  --green-color: #85e17e;
  --blue-color: #82c0d5;
  --gray-color: #ddd8cc;
  --gray-med-color: #c7c3b8;
  --purple-color: #5f3bc2;
  --white-color: #ffffff;
  --text-color-gray: #7b7583;
  --text-color-dark: #3b3347;
  --text-color-medium: #7b7583;
  --green-color2: #3c9336;
  --pink-color: #ed0265;
  --red-color: #ff9186;

  --box-shadow-xsm: 2px 2px 0px 0px var(--black-color);
  --box-shadow-xsm-hover: 1px 1px 0px 0px var(--black-color);

  --box-shadow-sm: 3px 3px 0px 0px var(--black-color);
  --box-shadow-sm-hover: 1px 1px 0px 0px var(--black-color);
  --border-black: 2px solid var(--black-color);

  --border-gray: 2px solid var(--gray-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1c1c1a;
    --overlay-color: rgba(23, 21, 21, 0.92);
    --black-color: rgba(210, 206, 198, 0.92);
    --green-color: #2f7e2d;
    --blue-color: #1f82a6;
    --gray-color: #2a2729;
    --purple-color: #7765bd;
    --white-color: #3a3934;
    --text-color-gray: #a09c9f;
    --text-color-dark: #8c8c8c;
    --text-color-medium: #cbc6ba;
    --green-color2: #70c272;
    --pink-color: #ed0265;
    --red-color: #ec2e1a;

    --box-shadow-xsm: 2px 2px 0px 0px var(--black-color);
    --box-shadow-xsm-hover: 1px 1px 0px 0px var(--black-color);

    --box-shadow-sm: 3px 3px 0px 0px var(--black-color);
    --box-shadow-sm-hover: 1px 1px 0px 0px var(--black-color);

    --border-black: 2px solid var(--black-color);
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Monocraft', sans-serif;
  color: var(--black-color);
}

body {
  // background-color: var(--background-color);
  overflow-x: hidden;
}

html,
body,
button {
  font-family: 'Monocraft', sans-serif;
}

button {
  border: none;
  box-shadow: none;
  transition: var(--transition);
}

a {
  text-decoration: none;
  color: inherit;
  transition: var(--transition);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 576px) {
  :root {
    --mt-10: 8px;
    --mt-15: 12px;
    --mt-20: 16px;
    --mt-25: 21px;
    --mt-30: 28px;
    --mt-35: 32px;
    --mt-40: 36px;
    --mt-45: 41px;
    --mt-50: 46px;
    --mt-55: 51px;

    --fz-14: 14px;
    --fz-15: 15px;
    --fz-16: 15px;
    --fz-18: 15px;
    --fz-30: 28px;
  }
}

// Overriding toastify styles



.Toastify__toast {
  border-radius: var(--br-small) !important;
  border: var(--border-black);
  box-shadow: var(--box-shadow-sm) !important;

  --toastify-color-success: var(--green-color);
  --toastify-color-error: var(--red-color);
}

.Toastify__toast-body {
  font-family: 'Monocraft', sans-serif;
  color: var(--black-color);
  font-size: 15px;
}
