.window {
  // height: 94dvh;
  display: none;
  // max-width: 94%;
  // width: 94%;
  width: 100%;
  background-color: var(--gray-color);

  border-radius: var(--br-small);
  box-shadow: var(--box-shadow-sm);

  border: var(--border-black);
  //z-index: 10;

  position: relative;

  &Active {
    display: block;
  }

  &Inner {
    padding: 40px;
    min-height: calc(100% - 56px);
    max-height: auto;

    overflow: auto;
  }

  &Header {
    padding: 18px 20px;
    border-bottom: var(--border-black);
    background-color: var(--background-color);
    border-radius: var(--br) var(--br) 0 0;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }


}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--overlay-color);

  overflow: hidden;
  overflow-y: auto;
  padding: 30px 15px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  z-index: 99;

  &Inner {
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
}
